---
- name: Deploy Docker Compose stack
  hosts: local
  tasks:
    - name: Stop and remove Docker Compose containers, volumes
      community.docker.docker_compose_v2:
        project_src: ../
        state: absent
        remove_volumes: yes

    - name: Build and start Docker Compose containers
      community.docker.docker_compose_v2:
        project_src: ../
        state: present
        build: always

    - name: Notify user of app location
      ansible.builtin.debug:
        msg: "Application is available at http://localhost:9000"
